<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.invictastudios.bilinguis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        tools:ignore="AllowBackup"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Additional.AdditionalInformationPlan" />
        <activity android:name=".Additional.AdditionalInformation" />
        <activity android:name=".TestSelection" />
        <activity android:name=".Reading.ReadingSectionSelected" />
        <activity android:name=".Reading.Reading" />
        <activity android:name=".Writing.Writing" />
        <activity
            android:name=".Tests"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Exercises"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Grammar.GrammarWritingExercise"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Grammar.GrammarMultipleChoiceExercise"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Grammar.GrammarSectionSelected"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Grammar.Grammar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4701446273186664~8537561530" />

        <activity
            android:name=".Vocabulary.VocabularySectionSelected"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vocabulary.Vocabulary"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>